body { 
	background-image: url("http://cdn.wallpapersafari.com/24/17/JBonum.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container {
	position: absolute;
	top:50%;
	left:50%;
	width:350px;
	margin-left:-175px;	
	margin-top:-200px;
	padding:5px;
}

h1{
    color: #efecec;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin-top: 20px;
}

h2{
    color: #efecec;
    text-transform: uppercase;
    font-family: monospace;
}

p{
	color: #efecec;
}

.profile {
	text-align: center;
}

.album {
	text-align: center;
}

.frame-block {
    position: relative;
    display: block;
    height:335px;
    width: 575px;
}
.frame-block span {
    background: url(frame.png) no-repeat center top;
    height:335px;
    width: 575px;
    display: block;
    position: absolute;
}

img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

div.gallery {
    margin: 7px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 255px;
}

div.gallery img {
    width: 100%;
}