<%- contentFor('hero') %>

<div class="profile">
	<br>
	<h1>DESFRONTERÍZATE CORONA</h1>
	<img class="img-rounded" src="<%= photo %>" width="600" height="450">
	<br>
	<br>

	<form action="/detectingImage" method="post">
		<button name="photo" value="<%= photo %>" class="btn btn-primary">Crea un video con esta foto</button>
	</form>

</div>