<%- contentFor('hero') %>

<header class="container">
	<section class="content">
		<h1>Proyecto CROWN</h1>
			<p class="sub-title"><strong>Accede al programa aquí</strong></p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Log in Facebook</a>
	</section>
</header>